# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environments
env/
venv/
ENV/
.venv/
.ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and runtime files
*.log
*.out
*.err
*.pid

# IDE and editor settings
.vscode/
.idea/
*.swp
*.swo
*.bak

# Test coverage and reports
.coverage
*.cover
.coverage.*
.nosetests.xml
coverage.xml
*.pytest_cache/

# Data files
*.sqlite3
*.db
*.csv
*.dat
# *.pickle
*.hdf5

# Environment variables
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Docker
Dockerfile
*.dockerignore

# System files
.DS_Store
Thumbs.db
